@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./nprogress.css";

@tailwind base;
.dark {
  color-scheme: dark;
}
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 font-medium text-stone-900 selection:bg-amber-500 dark:bg-stone-900 dark:text-stone-50;
  }
  h1 {
    @apply font-serif text-3xl font-medium md:text-5xl lg:text-7xl;
  }
  h2 {
    @apply font-serif text-2xl font-semibold md:text-3xl lg:text-5xl;
  }
  h3 {
    @apply font-serif text-xl md:text-2xl lg:text-4xl;
  }
  html {
    @apply font-sans text-sm font-medium;
  }
}

@layer components {
  /* Global Style */
  .page-wrapper {
    @apply flex flex-col gap-56;
  }
  .page-wrapper__atCenter {
    @apply mb-32 min-h-screen items-center justify-center;
  }
  .isContainer {
    @apply container mx-auto px-10 md:px-24 lg:px-32 xl:px-56 2xl:px-72;
  }
  .scroll-lock {
    @apply m-0 h-screen touch-none overflow-hidden;
  }
  .loading {
    @apply flex h-80 w-80 items-center justify-center p-3 text-center;
  }

  /* Blog style */
  .blog_index {
    @apply flex flex-col gap-10;
  }
  .postCard_index {
    @apply my-10 mx-auto grid grid-cols-1 gap-10  px-5 md:grid-cols-2 lg:grid-cols-3;
  }
  .category_button_wrapper {
    @apply flex snap-mandatory scroll-pl-6 flex-nowrap items-center gap-5 overflow-x-scroll md:justify-center;
  }
  .post {
    @apply my-14 flex flex-col gap-16;
  }
}

@layer utilities {
  .no-scrollBar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
