/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed top-0 left-0 z-[1029] h-1 w-full bg-amber-500;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply absolute right-0 block h-full w-24 -translate-y-1 rotate-3 opacity-100 shadow-lg shadow-amber-500;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  @apply fixed top-4 right-4 z-[1028] block;
}

#nprogress .spinner-icon {
  @apply box-border h-5 w-5 rounded-[50%] border-2 border-t-amber-500 border-l-amber-500;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  @apply relative overflow-hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
