.root {
  @apply fixed top-0 z-98 block w-full border-b py-3 px-5 transition-all duration-500 ease-in-out md:px-10 md:py-5;
}
.navbarActive {
  @apply visible;
}
.navbarInactive {
  @apply invisible -translate-y-full;
}
.bgOnTop {
  @apply bg-transparent;
}
.bgOnTopGlass {
  @apply bg-stone-900/30 backdrop-blur-lg dark:bg-stone-50/30;
}
.bgOnScroll {
  @apply bg-stone-50 dark:bg-stone-900;
}
.borderBlack {
  @apply border-stone-900 dark:border-stone-50;
}
.borderWhite {
  @apply border-stone-50 dark:border-stone-900;
}
.inner {
  @apply container flex w-full flex-row justify-between;
}
.logoTypeBlack {
  @apply font-sans text-4xl font-medium text-stone-900 dark:text-stone-50;
}
.logoTypeWhite {
  @apply font-sans text-4xl font-medium text-stone-50 dark:text-stone-900;
}
.menu {
  @apply fixed top-0 left-0 z-99 h-full w-full overflow-y-scroll bg-stone-900 px-10 py-10 dark:bg-stone-50;
}
.menuToggleClose {
  @apply absolute top-5 right-10 z-100 m-auto;
}
.menuHamburger {
  @apply h-10 w-10 stroke-1;
}
.menuHamburgerTop {
  @apply stroke-stone-50 dark:stroke-stone-900;
}
.menuHamburgerNotTop {
  @apply stroke-stone-900 dark:stroke-stone-50;
}
.menuClose {
  @apply h-10 w-10 stroke-stone-50 stroke-1 dark:stroke-stone-900;
}
.menuItem {
  @apply flex flex-col gap-7 pt-24;
}
.menuItem div {
  @apply border-b border-stone-50 py-10 dark:border-stone-900;
}
.menuItem a {
  @apply font-serif text-7xl font-semibold text-stone-50 transition-colors duration-300 ease-in-out hover:text-orange-600 dark:text-stone-900 dark:hover:text-orange-600;
}
.innerLeft {
  @apply flex flex-row items-center gap-x-2;
}
